*{
 margin: 0px;
 padding: 0px;


}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(33, 37, 41);
    color: white;
    text-align: center;
    height: 50vh;
    
}

.cajaMain{
    margin-top: 10px;
    width: 250px;
    height: 300px;
    background: rgb(108, 117, 125);
    border-radius: 2% ;
}

.caja2{
   margin-top: 10px;
}

.boton{
    margin: 10px;
    background-color:rgb(49, 210, 242);
    color: white;
    border-radius: 2%;
    border: none;
    width: 185px;
    height: 35px;
}

input{
    border-radius: 2%;
    background-color: white;
    width: 180px;
    height: 20px;
    text-align: center;
}
